@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-sans: "Public Sans", sans-serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --ui-primary: #00dc82;
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);

    /* Using in Header.vue */
    --ui-header-height: calc(.25rem*16);
    --ui-bg: oklch(12.9% .042 264.695);
    --ui-border: oklch(27.9% 0.041 260.031);
    --ui-container: 90rem;
    --ui-text: oklch(92.9% 0.013 255.508);

}

html {
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}

body {
    background-color: var(--ui-bg);
    color: var(--ui-text);
    -webkit-font-smoothing: antialiased;
}