@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-sans: "Public Sans", sans-serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --ui-primary: #00dc82;
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);

    /* Using in Header.vue */
    --ui-header-height: calc(.25rem*16);
    --ui-bg: oklch(12.9% .042 264.695);
    --ui-border: oklch(27.9% 0.041 260.031);
    --ui-container: 90rem;
    --ui-text: oklch(92.9% 0.013 255.508);
    --ui-text-muted: var(--color-slate-400, oklch(70.4% 0.04 256.788));
    --ui-text-inverted: oklch(20.8% 0.042 265.755);
    --ui-text-dimmed: oklch(55.4% 0.046 257.417);

}

* {
    border: 0 solid;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}

body {
    background-color: var(--ui-bg);
    color: var(--ui-text);
    -webkit-font-smoothing: antialiased;
}

.bg-primary,
.bg-primary\/10 {
    background-color: var(--ui-primary);
}

.text-primary,
.outline-primary {
    color: var(--ui-primary);
}

.text-muted {
    color: var(--ui-text-muted);
}

.text-inverted {
    color: var(--ui-text-inverted);
}

.text-dimmed {
    color: var(--ui-text-dimmed);
}

.hover\:text-default:hover {
    color: var(--ui-text);
}

.ring {
    --tw-ring-shadow: var(--tw-ring-inset, )0 0 0 calc(1px + var(--tw-ring-offset-width))var(--tw-ring-color, currentcolor);
}

.ring-primary,
.ring-primary\/25 {
    --tw-ring-color: var(--ui-primary);
}

.ring-accented {
    --tw-ring-color: oklch(37.2% 0.044 257.287);
}

.hover\:icon:hover {
    background-color: var(--ui-primary);
}

.group-hover\:bg-primary:is(:where(.icon-group):hover *) {
    background-color: var(--ui-primary);
}

.group-hover\:ring-primary:is(:where(.icon-group):hover *) {
    --tw-ring-color: var(--ui-primary);
}

.group-hover\:text-inverted:is(:where(.icon-group):hover *) {
    color: var(--ui-text-inverted);
}

.transition {
    transition-duration: var(--tw-duration, var(--default-transition-duration));
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
}

.transition-colors {
    transition-duration: var(--tw-duration, var(--default-transition-duration));
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
}